<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.baizhi.entity.Comment">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.baizhi.entity.Comment">
    <id column="cid" jdbcType="VARCHAR" property="id" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="ccontent" jdbcType="VARCHAR" property="content" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <association property="order" javaType="com.baizhi.entity.Order">
      <id column="oid" property="id"/>
      <association property="user" javaType="com.baizhi.entity.User">
        <id column="uid" property="id"/>
        <result column="uname" property="name"/>
        <result column="uphone" property="phone"/>
      </association>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, score, content, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jw_comment
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAllBylawerid" parameterType="String" resultMap="BaseResultMap1">
  SELECT c.id cid, score,c.content ccontent, createtime,
         u.id uid, u.name uname,u.phone uphone,
         o.id oid
  from jiuwen.jw_comment c
  left join jiuwen.jw_order o on c.orderid=o.id
  left join jiuwen.jw_user u on u.id=o.userid
  left join jiuwen.jw_lawer l on l.id=o.lawerid
  where l.id=#{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from jw_comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.baizhi.entity.Comment">
    insert into jw_comment (id, score, content, 
      createtime)
    values (#{id,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{content,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.baizhi.entity.Comment">
    update jw_comment
    set score = #{score,jdbcType=DOUBLE},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>